@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,300;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

#hearder {
  margin: 50px;
}

/* -----logo--- */
#logo-A {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: rgb(241, 7, 7);
  font-size: 35px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.logo:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav {
  display: flex;
  align-items: center;
  gap: 4.5em;
}

nav ul li a:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.catalogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 60%;
  gap: 1.5em;
  margin: auto;
}

.showCatolog {
  align-items: center;
  display: flex;
}

.showCatolog :hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.likes-btn {
  display: flex;
  align-items: center;
  gap: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.like1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  margin-left: 47%;
  margin-top: -19px;
}

.count-like{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  margin-left: 42%;
  margin-top: -35px;
  padding-top: 13px;
}

.commentsBtn {
  padding: 5px 37px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transform: scale(1.05);
}

.commentsBtn:hover {
  transition: all 0.5s ease;
  cursor: pointer;
}

/* ---------footer---------- */
footer p {
  margin-left: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.horizontal-line {
  color: black;
}
